@import "../css/bootstrap.min.css";

@font-face {
	font-family: Kontanter-Bold;
	src: url("../webfonts/Kontanter-Bold.woff") format("woff");
}


/* DEFAULT THEME: LIGHT */
:root {
  --color-1: rgba(0, 0, 0, 0.9);
  --color-2: rgba(0, 0, 0, 0.9);
  --color-3: rgba(0, 0, 0, 0.55);
  --color-4: rgba(0, 0, 0, 0.7);
  --color-5: rgba(0, 0, 0, 0.3);
  --color-6: rgba(255, 255, 255, 0.1);
  --color-7: #252525;
  --color-8: #212529;
  --bg-color-1: 248, 249, 250;
  --bg-color-2: rgb(255, 255, 255);
}

.body {
  background-color: var(--bg-color-2);
}

h1, p, ul, li {
  color: var(--color-1);
}

/* LOGO */
.logo {
  font-family: "Kontanter-Bold";
	font-size: 50px;
	padding: 0;
	margin-right: 5%;
  color: var(--color-7);
}

/* NAVBAR */
.navbar-theme .navbar-brand {
  color: var(--color-1);
}
.navbar-theme .navbar-brand:hover, .navbar-theme .navbar-brand:focus {
  color: var(--color-2);
}
.navbar-theme .navbar-nav .nav-link {
  color: var(--color-3);
}
.navbar-theme .navbar-nav .nav-link:hover, .navbar-theme .navbar-nav .nav-link:focus {
  color: var(--color-4);
}
.navbar-theme .navbar-nav .nav-link.disabled {
  color: var(--color-5);
}
.navbar-theme .navbar-nav .show > .nav-link,
.navbar-theme .navbar-nav .nav-link.active {
  color: var(--color-1);
}
.navbar-theme .navbar-toggler {
  color: var(--color-3);
  border-color: var(--color-6);
}
.navbar-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bars-colors {
  color: var(--color-3);
}
.navbar-theme .navbar-text {
  color: var(--color-3);
}
.navbar-theme .navbar-text a,
.navbar-theme .navbar-text a:hover,
.navbar-theme .navbar-text a:focus {
  color: var(--color-1);
}
.bg-theme {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bg-color-1), var(--bs-bg-opacity)) !important;
}
.navbar-nav > li > .dropdown-menu {
  background-color: var(--bg-color-2);
  border: 1px solid var(--color-5);
}
.navbar-nav > li > .dropdown-menu a{
  color: var(--color-3);
}
.navbar-nav > li > .dropdown-menu a:hover {
  color: var(--color-2);
  background-color: transparent;
}
.language-container {
  display: flex;
  flex-direction: row;
}
#fr {
  padding-right: 8px;
}
#separator {
  padding-top: 7px;
  color: var(--color-3);
}
#en {
  padding-left: 8px;
}

/* CONTAINER */
@media (max-width: 1200px) {
  .container {
    padding-top: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (min-width: 1201px) {
  .container {
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
  }
}
.container-center {
  text-align: center;
}

/* IMPORTANT FOT FIXED BAR */
.content {
  margin-bottom: 75px;
}

/* FOOTER */
footer {
  height: 10vh;
  color: var(--color-1);
  padding-bottom: 1vh;
  font-size: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* DEFAULT THEME: DARK */
/* :root {
  --color-1: white;
  --color-2: white;
  --color-3: rgba(255, 255, 255, 0.55);
  --color-4: rgba(255, 255, 255, 0.75);
  --color-5: rgba(255, 255, 255, 0.25);
  --color-6: rgba(255, 255, 255, 0.1);
  --color-7: #ffffff;
  --color-8: #f8f9fa;
  --bg-color-1: 33, 37, 41;
  --bg-color-2: rgb(32, 33, 34);
} */