@import "../css/bootstrap.min.css";

@font-face {
	font-family: Kontanter-Bold;
	src: url("../webfonts/Kontanter-Bold.woff") format("woff");
}

/* DEFAULT THEME: DARK */
:root {
  --color-1: white;
  --color-2: white;
  --color-3: rgba(255, 255, 255, 0.55);
  --color-4: rgba(255, 255, 255, 0.75);
  --color-5: rgba(255, 255, 255, 0.25);
  --color-6: rgba(255, 255, 255, 0.1);
  --color-7: #ffffff;
  --color-7: #f8f9fa;
  --bg-color-1: 33, 37, 41;
  --bg-color-2: rgb(32, 33, 34);
}

.body {
  background-color: var(--bg-color-2);
}

/* LOGO */
.logo {
  font-family: "Kontanter-Bold";
	font-size: 50px;
	padding: 0;
	margin-right: 5%;
  color: var(--color-7);
}

/* NAVBAR */
.navbar-theme .navbar-brand {
  color: var(--color-1);
}
.navbar-theme .navbar-brand:hover, .navbar-theme .navbar-brand:focus {
  color: var(--color-2);
}
.navbar-theme .navbar-nav .nav-link {
  color: var(--color-3);
}
.navbar-theme .navbar-nav .nav-link:hover, .navbar-theme .navbar-nav .nav-link:focus {
  color: var(--color-4);
}
.navbar-theme .navbar-nav .nav-link.disabled {
  color: var(--color-5);
}
.navbar-theme .navbar-nav .show > .nav-link,
.navbar-theme .navbar-nav .nav-link.active {
  color: var(--color-1);
}
.navbar-theme .navbar-toggler {
  color: var(--color-3);
  border-color: var(--color-6);
}
.navbar-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bars-colors {
  color: var(--color-3);
}
.navbar-theme .navbar-text {
  color: var(--color-3);
}
.navbar-theme .navbar-text a,
.navbar-theme .navbar-text a:hover,
.navbar-theme .navbar-text a:focus {
  color: var(--color-1);
}
.bg-theme {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bg-color-1), var(--bs-bg-opacity)) !important;
}
.navbar-nav > li > .dropdown-menu {
  background-color: var(--bg-color-2);
  border: 1px solid var(--color-5);
}
.navbar-nav > li > .dropdown-menu a{
  color: var(--color-3);
}
.navbar-nav > li > .dropdown-menu a:hover {
  color: var(--color-2);
  background-color: transparent;
}

/* WELCOME MESSAGE */

@media (max-width: 500px) {
  .console-container {
 
    font-family:Khula;
    text-align:center;
    font-size: min(8vw, 80px);
    height: 30vh;
    width: 100%;
    display:block;
    padding-top: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    color: var(--color-1);
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
}
@media (min-width: 501px) {
  .console-container {
    font-family:Khula;
    text-align:center;
    font-size: min(7vw, 70px);
    height: 50vh;
    width: 100%;
    display:block;
    padding-top: 10vh;
    padding-left: 15%;
    padding-right: 15%;
    color: var(--color-1);
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
  }
}
.console-underscore {
  display:inline-block;
 position:relative;
 top:-0.14em;
 left:10px;
}

  /* BUTTON */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--color-1);;
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--color-1);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 60px;
  width: 30%;
  min-width: 150px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: var(--bg-color-2);
  background-color: var(--color-1);;
  box-shadow: var(--color-5) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.container-button {
  text-align: center;
}



/* ABOUT  */
@media (max-width: 1080px) {
  .container {
    padding-top: 25px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media (min-width: 1081px) {
  .container {
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
  }
}
.container-center {
  text-align: center;
}
.avatar {
	width: 150px;
	height: 150px;

	border-radius: 50%;
	box-shadow: 0 5px 15px 0px var(--color-5);

  margin-top: 0px;
  margin-bottom: 0px;
}

.logo-network {
  color:  var(--color-1);
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.container ul{
  list-style: none;
  margin:0;
  padding:0;
  position: relative;
}
.container ul:before{
  content:"";
  display: inline-block;
  width: 5px;
  background: var(--color-1);
  position: absolute;
  left:2px;
  top:5px;
  height: calc(100% - 10px );
}
.container li{
  position: relative;
  padding-left: 15px;
  margin-bottom:15px;
}
.container li:before{
  content:"";
  display: inline-block;
  width: 28px;
  height: 28px;
  background: var(--bg-color-2);
  position: absolute;
  left:-10px;
  top:5px;
  border: solid 5px var(--color-1);
  border-radius: 50%;
  margin-right: 10px;
}
.progress_bg {
  border-radius: 5px;
  width: 100%;
  height: 15px;
  background: var(--color-3);
  margin-bottom: 15px;
}
.progress_fg {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 15px;

  background: var(--color-1);
  text-align: right;
  font-size: 15px;
  font-display: auto;
  color: white;
}
._90{
  width: 90%;
}
._80{
  width: 80%;
}
._70{
  width: 70%;
}
._60{
  width: 60%;
}
._50{
  width: 50%;
}
._40{
  width: 40%;
}
._30{
  width: 30%;
}
._20{
  width: 20%;
}
._10{
  width: 10%;
}
.date {
  font-size: 18px;
  padding-top: 8px;
  margin: 0;
}
.company {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.place {
  font-size: 18px;
  font-style: italic;
  padding: 0;
  margin: 0;
}
.mission {
  margin: 0;
  padding: 0;
}

h1, p {
  color: var(--color-1);
}

.container > div {
  color: var(--color-1);
}

/* PORTFOLIO */
/* .stack {
  height: 22px;
  background: rgba(128, 128, 128, 0.3);
  border-radius: 5%;
  text-align: center;
  font-weight: bold;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  min-width: 80px;
} */